<p>
  data-table component
</p>

<app-quick-filter [(model)]="filter"></app-quick-filter>
<button (click)="applyFilter()">Apply filter</button>
<span *ngIf="data.length == 0">Loading data table...</span>
<div class="rTable" *ngIf="data.length > 0">
  <div class="rTableRow">
      <div class="rTableHead" [style.width]="column.width + '%'" *ngFor="let column of columns"><strong>{{column.displayName}}</strong></div>
    <div class="rTableHead">&nbsp;</div>
  </div>
  <div class="rTableRow" *ngFor="let item of data" (click)="onRowClick(item)">
    <div class="rTableCell" *ngFor="let column of columns">{{item[column.name] | useFilter:column }}</div>
    <div class="rTableCell"></div>
  </div>
</div>

<p>EntitySchema: {{entitySchema}}</p>
<p>Columns:</p>
<ul>
  <li *ngFor="let column of columns"> 
    {{ column.name }}
  </li>
 </ul>
 <p>Filter:</p>
 <pre>{{filter | json}}</pre>
<p>Debug information:</p>
<pre>{{debugInformation}}</pre>