<app-text-input
    [(model)]="viewModel.fields['Id']"
></app-text-input>
<app-text-input
    [(model)]="viewModel.fields['FirstName']"
></app-text-input>
<app-text-input
    [(model)]="viewModel.fields['LastName']"
></app-text-input> 
<app-text-input
    [(model)]="viewModel.fields['Phone']"
></app-text-input> 
<app-text-input
    [(model)]="viewModel.fields['Email']"
></app-text-input> 
<app-lookup-input
    [(model)]="viewModel.fields['Manager']"
></app-lookup-input> 

<button (click)="save()">Save</button><button (click)="close()">Close</button>
<br>

<p>ViewModel:</p>
<pre>{{viewModel | json}}</pre>

<p>Query columns:</p>
<p>{{getQueryColumns() | json}}</p>

<p>Data:</p>
<pre>{{getOutputData() | json}}</pre>

<p>Data to update:</p>
<pre>{{getOutputData(true) | json}}</pre>