<app-select-input
    [items]="columnNames"
    label="Column"
    [(model)]="model.column"
></app-select-input>
<app-select-input
    [items]="comparisonTypes"
    label="Comparison"
    [(model)]="model.comparisonType"
></app-select-input>
<div class="control control-wrapper">
    <div class="control-label-wrapper">
        <label class="control-label">Value:</label>
    </div>
  <div class="control-input-wrapper">
    <input #textInput
      type="text" 
      [(ngModel)]="model.value">
  </div>
</div>
<br>