<div class="control control-wrapper" [class.hidden]="!model.visible">
    <div *ngIf="model.label" class="control-label-wrapper">
        <label class="control-label">{{model.label}}:</label>
    </div>
    <div class="control-input-wrapper">
        <input #textInput
            type="text" 
            [(ngModel)]="model.value" #ctrl="ngModel" (ngModelChange)="onChanges($event)"
            [disabled]="!model.enabled">
        <div class="control-input-icons-wrapper">
            <div class="control-input-icon-wrapper" [class.hidden]="!model.enabled || model.value == null">
                <div class="control-lookup-icon control-lookup-icon-clickable control-lookup-icon-clear" (click)="clear()"></div>
            </div>
            <div class="control-input-icon-wrapper" [class.hidden]="model.enabled">
                <div class="control-lookup-icon control-lookup-icon-locked"></div>
            </div>
        </div>
    </div>
</div>